
  <nav class="navbar navbar-dark bg-primary">
    <!-- Navbar content -->
    <ul class="nav nav-pills navbar-right me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link menu-heading " aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item" menu-heading>
          <a class="nav-link "  routerLink="reportone" >Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link menu-heading" routerLink="reportone">Pricing</a>
        </li>
      </ul>
    <button class="btn btn-default" (click)="LoadReport1()">report1</button>

  </nav>




<table>
    <tr  *ngFor="let d of dataL">
        <td>{{d}}</td>
    </tr>
</table>