https://stackblitz.com/edit/navigation-drawer-angular-material?file=src%2Fapp%2Fhello.component.ts,src%2Fapp%2Fapp.module.ts
<div class="container-fluid">
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
<div class="row">
    <div class="col-2">
        <label>o1</label>
    <input type="text" id="field0"  name="field0" class="form-control" ngModel /></div>
    <div class="col-3">
        <label for="field1">o2</label>
        <input type="text" id="field1"  name="field1" class="form-control" ngModel/>
    </div>
    <div class="col-3">
        <label  for="field2">o3</label>
        <input type="text" id="field2" name="field2" class="form-control" ngModel/>
    </div>
    <div class="col-3">
        <label  for="field3">o4</label>
        <input type="text" id="field3"  name="field3" class="form-control"ngModel/>
    </div>
    <div class="col-2">
        <label  for="field4">o1</label>
        <input type="text" id="field4"  name="field4" class="form-control" ngModel/></div>
    <div class="col-3">
        <label  for="field5">o2</label>
        <input type="text" id="field5" name="field5"  class="form-control" ngModel/>
    </div>
    <div class="col-3">
        <label  for="field6">o3</label>
        <input type="text" id="field6" name="field6" class="form-control" ngModel/>
    </div>
    <div class="col-3" >
        <label for="field7">o4</label>
        <mat-form-field style=" margin-top: 5px;" >
            <mat-label>Select an option</mat-label>
            <mat-select #sel  name="field6"  multiple>
                <mat-option value="" (click)="toggleAllSelection(sel)">All items</mat-option>

              <mat-option value="1"  >Option 1</mat-option>
              <mat-option value="2" >Option 2</mat-option>
              <mat-option value="3" >Option 3</mat-option>
            </mat-select>
          </mat-form-field>
            </div>
</div>
<div class="row">
    <div class="col-5"></div>
    <div class="col-2">
        <input class="btn btn-primary form-control" type="submit" >
    </div>
    <div class="col-3"></div>
</div>
</form>
</div>
<div  *ngIf="loading">
<div class="spinner-border text-primary" role="status" >
  <span class="visually-hidden">Loading...</span>
</div>

</div>
<div class="container">
<table  class="table table-striped table-hover  table-bordered "  *ngIf="dataloaded">
    <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">name</th>
        </tr>
      </thead>
      <tbody>
    <tr *ngFor="let x of reportData">
        <td>{{ x.id }}</td>
        <td>{{ x.name }}</td>
      </tr>
      </tbody>
  </table>
  <mat-paginator 
  [length]="length"
  [pageSize]="pageSize" 
  [pageSizeOptions]="pageSizeOptions"
  [showFirstLastButtons]="false">
</mat-paginator>

</div>





