
<div class="container">
    <br/>
<div class="row">
    <div class="col-3">
          <mat-card  style="background-color: white;">
            <mat-card-content>Simple card1</mat-card-content>
          </mat-card>
    </div>
    <div class="col-3">
        <mat-card>
          <mat-card-content>Simple card2</mat-card-content>
        </mat-card>
  </div>
  <div class="col-3">
    <mat-card>
      <mat-card-content>Simple card3</mat-card-content>
    </mat-card>
</div>
<div class="col-3">
    <mat-card>
      <mat-card-content>Simple card4</mat-card-content>
    </mat-card>
</div>
</div> 
<br/>
<div class="row">
<div class="col-3">
    <mat-card>
      <mat-card-content>Simple card5</mat-card-content>
    </mat-card>
</div>
<div class="col-3">
    <mat-card>
      <mat-card-content>Simple card6</mat-card-content>
    </mat-card>
</div>
<div class="col-3">
    <mat-card>
      <mat-card-content>Simple card7</mat-card-content>
    </mat-card>
</div>
</div>

</div>
